doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/panels.css')
  body
    block content
